.videoCard {
  color: white;
  width: 400px;
  height: 300;
  padding: 20px;
  transition: transform 100ms;
}
.videoCard:hover {
  transform: scale(1.09);
}
.videoCard > img {
  height: 250px;
  width: 400px;
  object-fit: contain;
}

.videoCard > h2 {
  padding-top: 10px;
}
.videoCard__stats {
  display: none;
}
.videoCard:hover > .videoCard__stats {
  display: inline;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
